<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 自动扫描包，让指定包下的注解生效，由springioc容器统一管理 -->
    <context:component-scan base-package="com.fengye.controller" />
    <!--开启静态资源的访问：过滤不处理js、css等文件-->
    <mvc:default-servlet-handler />
    <!--开启SpringMVC对注解的支持-->
    <mvc:annotation-driven />
    <!-- 这个不是必须的(spring3.2版本前使用) 配上后兼容性好 -->
    <context:annotation-config />

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          id="internalResourceViewResolver">
        <!--前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--后缀-->
        <property name="suffix" value=".jsp" />
    </bean>
</beans>